@import "../mixins";

.image {
  @include transition(.25s);
  @include box-shadow(2px, 2px, 0px, 0px, rgba(0,0,0,0.29));

  max-width: 400px;
  max-height: 400px;
  position: relative;
  bottom: 0px;
  opacity: 1;
  -webkit-animation: image-opacity 1s;

  &:hover {
    @include box-shadow(5px, 5px, 0px, 0px, rgba(0,0,0,0.22));

    bottom: 3px;
  }
}
@-webkit-keyframes image-opacity {
  from  { opacity: 0; }
  to    { opacity: 1; }
}

.image-container {
  max-width: 440px;
  min-height: 28px;
  max-height: 420px;
  display: inline-block;
  position: relative;
  overflow: visible;
  margin: 0 auto;
  padding: 10px;
  padding-left: 20px; /* This offsets the searchbar's 10px left margin */
}
