@import "../mixins";

.image {
  @include transition(.25s);
  @include box-shadow(2px, 2px, 0px, 0px, rgba(0,0,0,0.29));

  max-width: 100%;
  min-width: 100%;
  position: relative;
  bottom: 0px;
  opacity: 0;

  &:hover {
    @include box-shadow(5px, 5px, 0px, 0px, rgba(0,0,0,0.22));

    bottom: 3px;
  }
}

.video {
  max-width: 100%;
  min-width: 100%;
}

.image-container {
  min-width: 100%;
  min-height: 28px;
  position: relative;
  overflow: visible;
}
.video-container {
  min-width: 100%;
  position: relative;
}
