@import "../mixins";

.searchbar-container {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

::-webkit-input-placeholder { /* Chrome */
  color: rgb(80,80,80);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(80,80,80);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgb(80,80,80);
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgb(80,80,80);
  opacity: 1;
}
.searchbar-icon {
  @include transition(.5s);
  width: 26px;
  height: 26px;
  float: left;
  display: inline-block;
  border: thin solid rgba(0,0,0,.2);
  border-right: none;
  background-size: 70%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.searchbar {
  @include transition(.5s);
  height: 22px;
  width: 0px; /* 4px to compensate for padding */
  max-width: 330px;
  vertical-align: top;
  padding: 4px 0px 0px;
  font-size: 16px;
  line-height: 20px;
  color: rgb(200,200,200);
  border: 0px solid rgba(0,0,0,.2);
  display: inline-block;
  background-color: rgba(40,40,40,0);
  background-size: 16px;
  background-position: -20px 5px;
  background-repeat: no-repeat;
  margin: 10px 0px 0px 10px;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;

  &:focus {
    outline: none;
    width: 250px;
    border: thin solid rgba(0,0,0,.2);
    padding: 3px 2px 1px 28px;
    background-position: 5px 5px;
  }
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}